@page
@using Microsoft.AspNetCore.Mvc.Localization
@model WebRazorPagesGlobalization.Pages.AboutModel
@inject IHtmlLocalizer<AboutModel> HtmlLocalizer


<h2>@ViewData["Title"]</h2>

<h3>@HtmlLocalizer.GetString("Title")</h3>
<h3>@HtmlLocalizer.GetString("Status")</h3>

<p>
    @System.Globalization.CultureInfo.CurrentCulture.Name
</p>
<p>
    @DateTime.Now.ToLongDateString()
</p>



